<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/default">

<head>
<title>Index</title>

<link rel="stylesheet" th:href="@{static/css/module/example/controller/example/index.css}" type="text/css" media="screen"/>

</head>
<body>

	<div layout:fragment="container">

		<div class="hero-unit">
			<h1 th:text="${success}">Hello, world!</h1>
			<p>Controller de exemplo</p>
			<p>
				<a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a>
			</p>
		</div>

	</div>

</body>
</html>